* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#footer-bg {
    background-image: url("/src/assets/img/footer-bg.jpg");
    height: 350px;
    position: relative;
    overflow: hidden;

    #dc-over {
        position: absolute;
        top: -25%;
        left: 50%;
    }
}

h5 {
    color: white;
}

#jumbo-footer {
    gap: 5rem;
}

.footer-bg-col {
    background-color: #303030;
}

#footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
        margin: 0;
    }
}

#comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    li.comic-card {
        width: calc(100% / 6 - 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }
}

#jumbo {
    background-image: url("/src/assets/img/jumbotron.jpg");
    background-size: cover;
    height: 400px;
}